.header-container {
    display: flex;
    background: #4000FF;
    justify-content: space-between;
}

.title-container {
    margin: 0 10px;
}

.header {
    color: #ffffff;
    font-size: 18px;
}

.button-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.publish-button {
    color: #4000FF;
    background: #ffffff;
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}

.publish-button:focus {
    outline: none;
}

.header-button {
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    height: 32px;
    text-align: center;
    margin: 0 5px;
}