.background-container {
    display: flex;
    justify-content: center;
}

.button-position {
    margin: 250px 0px 0px 220px;
    padding: 15px;
    color: white;
    background-color: #4000FF;
    font-size: 24px;
    border-radius: 5%;
}

.button-position:hover {
    cursor: pointer;
}

.input-file {
    visibility: hidden;
}
